# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
env/

# Databases
*.db
*.sqlite

# IDEs and editors
.idea/
*.sublime-workspace

# macOS
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/

# Other
*.log
*.bak